.contact-body{position: relative;height:600px;}
.res-alert{position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);width: 600px; min-height: 400px;z-index: 100;}
.alert-wrap{
    position: relative;
    background-color: #dddddd;
    padding: 5px 20px 20px;
}
.res-alert .close{position: absolute;right: 15px;top: 9px;font-size:1.2rem;float: none;}
.res-alert .result-data {background-color: #fff;padding: 20px;height: 300px;}
.res-alert .result-data p{font-size: 15px;color: #303030;}