<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h3>This is footer</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti sint omnis cupiditate ab officiis
          voluptas.
          Quo nulla natus deserunt exercitationem quos, eveniet ipsa ea mollitia necessitatibus laboriosam voluptatibus
          nihil! Ratione.</p>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h3>This is footer</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti sint omnis cupiditate ab officiis
          voluptas.
          Quo
          nulla natus deserunt exercitationem quos, eveniet ipsa ea mollitia necessitatibus laboriosam voluptatibus
          nihil!
          Ratione.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h3>This is footer</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti sint omnis cupiditate ab officiis
          voluptas.
          Quo
          nulla natus deserunt exercitationem quos, eveniet ipsa ea mollitia necessitatibus laboriosam voluptatibus
          nihil!
          Ratione.</p>
      </div>
    </div>
  </div>
</section>